In [2]:
import pandas as pd 
import numpy as np

In [3]:
dados = pd.read_csv('data_total_cancer_2000_2019.csv', sep = ',', low_memory = False)

In [4]:
dados.head()

,Unnamed: 0,TPCASO,SEXO,IDADE,LOCALNAS,RACACOR,INSTRUC,CLIATEN,CLITRAT,HISTFAMC,...,UFUH,MUUH,OCUPACAO,DTDIAGNO,DTTRIAGE,DATAPRICON,DATAINITRT,DATAOBITO,VALOR_TOT,BASDIAGSP
0,0,2,2,071,RJ,1,9,10,88,2,...,RJ,3304557,888,10/03/2002,99/99/9999,02/06/2000,88/88/8888,NaN,1,3
1,1,2,1,000,99,9,9,27,88,9,...,RJ,3304557,9999,02/01/2002,15/11/2000,11/12/2000,88/88/8888,NaN,1,3
2,2,1,2,049,RJ,1,9,20,20,2,...,RJ,3304557,799,21/07/2002,99/99/9999,31/05/2000,21/06/2002,NaN,1,3
3,3,1,1,066,ES,1,9,32,32,1,...,RJ,3304557,985,27/05/2002,99/99/9999,06/06/2000,15/04/2002,NaN,1,3
4,4,1,2,060,99,1,9,11,4,1,...,RJ,3304557,9999,21/08/2002,99/99/9999,15/10/2000,09/07/2002,NaN,1,3

In [5]:
dados.columns

Index(['Unnamed: 0', 'TPCASO', 'SEXO', 'IDADE', 'LOCALNAS', 'RACACOR',
       'INSTRUC', 'CLIATEN', 'CLITRAT', 'HISTFAMC', 'ALCOOLIS', 'TABAGISM',
       'ESTADRES', 'PROCEDEN', 'ANOPRIDI', 'ORIENC', 'EXDIAG', 'ESTCONJ',
       'ANTRI', 'DTPRICON', 'DIAGANT', 'BASMAIMP', 'LOCTUDET', 'LOCTUPRI',
       'TIPOHIST', 'LATERALI', 'LOCTUPRO', 'MAISUMTU', 'TNM', 'ESTADIAM',
       'OUTROESTA', 'PTNM', 'RZNTR', 'DTINITRT', 'PRITRATH', 'ESTDFIMT',
       'CNES', 'UFUH', 'MUUH', 'OCUPACAO', 'DTDIAGNO', 'DTTRIAGE',
       'DATAPRICON', 'DATAINITRT', 'DATAOBITO', 'VALOR_TOT', 'BASDIAGSP'],
      dtype='object')

In [ ]:
'''

Legenda dos nomes das colunas da tabela retirada do site do INCA
Os nomes com ** serão utilizados no projeto

'TPCASO' - Tipo de caso
**'SEXO' - Sexo do paciente
**'IDADE' - Idade do paciente
**'LOCALNAS' - Local de nascimento
**'RACACOR' - Cor
'INSTRUC' - Escolaridade
'CLIATEN' - Clínicas do primeiro atendimento - entrada do paciente
'CLITRAT' - Clínica de início do tratamento
**'HISTFAMC' - Histórico familiar de câncer
**'ALCOOLIS' - Histórico de consumo de bebida alcóolica
**'TABAGISM' - Histórico de consumo de tabaco
**'ESTADRES' - UF da residência
'PROCEDEN' - Código do município de residência
**'ANOPRIDI' - Ano do diagnóstico
'ORIENC' - Origem do encaminhamento
'EXDIAG' - Exames relevantes para o diagnóstico e planejamento da terapêutica do tumos
'ESTCONJ' - Estado conjugal atual
'ANTRI' - Ano da triagem
'DTPRICON' - Data da 1ª consulta
**'DIAGANT' - Diagnóstico e tratamento anteriores
'BASMAIMP' - Base mais importante para o diagnóstico do tumor
**'LOCTUDET' - Localização primária da doença (CID-O, 3 dígitos)
'LOCTUPRI' - Localização primária detalhada (CID-O, 4 dígitos)
'TIPOHIST' - Tipo histológico do tumor primário
'LATERALI' - Lateralidade do tumor
'LOCTUPRO' - Localização provável do tumor primário
'MAISUMTU' - Ocorrência de mais de um tumor primário
'TNM' - Codificação do estágio clínico
'ESTADIAM' - Estadiamento clínico do tumor
'OUTROESTA' - Outros estadiamentos clínicos do tumor
'PTNM' - (Sem tradução)
'RZNTR' - Principal razão para a não realização do tratamento antineoplásico no hospital
'DTINITRT' - Ano do início do primeiro tratamento específico para o tumor no hospital
'PRITRATH' - Primeiro tratamento recebido no hospital
'ESTDFIMT' - Estado da doença ao final do primeiro tratamento no hospital
'CNES' - Número no CNES do hospital
**'UFUH' - UF da unidade hospitalar
'MUUH' - Município da unidade hospitalar
'OCUPACAO' - Ocupação principal
**'DTDIAGNO' - Data do primeiro diagnóstico
'DTTRIAGE' - Data da triagem
'DATAPRICON' - Data da 1ª consulta
'DATAINITRT' - Data do início do primeiro tratamento do tumor
'DATAOBITO' - Data do óbito
'VALOR_TOT' - (Sem tradução)
'BASDIAGSP' - Base mais importante para o diagnóstico do tumor do estado de SP

'''