In [1]:
import pandas as pd
import numpy as np

In [2]:
# dataset_1 = pd.read_csv('INCA_2005_2011.csv', sep = ';', encoding = 'latin-1', low_memory = False, index_col = 0)
# dataset_2 = pd.read_csv('INCA_2012_2019.csv', sep = ';', encoding = 'latin-1', low_memory = False, index_col = 0)

In [3]:
# dataset_1.head(7)

,Nome do RCBP,Sexo,Data de Nascimento,Idade,Raca/Cor,Nacionalidade,Naturalidade Estado,Naturalidade,Grau de Instrução,Estado Civil,...,Lateralidade,Estadiamento,TNM,Status Vital,Tipo do Obito,Data do Óbito,Data de Último Contato,Data de Diagnostico,Metástase à distância,Unnamed: 37
Código do Paciente,,,,,,,,,,,,,,,,,,,,,
672054.0,RCBP CAMPINAS-UNICAMP,MASCULINO,16/03/1975,30.0,BRANCO,BRASIL,SÃO PAULO,NaN,SEM INFORMAÇÃO,CASADO,...,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,07/10/2005,07/10/2005,07/10/2005,NaN,NaN
673745.0,RCBP CAMPINAS-UNICAMP,MASCULINO,03/07/1934,71.0,BRANCO,BRASIL,SÃO PAULO,NaN,SEM INFORMAÇÃO,SOLTEIRO,...,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,21/10/2005,21/10/2005,21/10/2005,NaN,NaN
676350.0,RCBP CAMPINAS-UNICAMP,MASCULINO,18/11/1933,71.0,BRANCO,BRASIL,SÃO PAULO,NaN,SUPERIOR COMPLETO,VIÚVO,...,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,06/11/2005,06/11/2005,06/11/2005,NaN,NaN
679877.0,RCBP CAMPINAS-UNICAMP,FEMININO,30/11/1947,57.0,PARDA,BRASIL,ALAGOAS,NaN,SEM INFORMAÇÃO,CASADO,...,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,15/05/2005,15/05/2005,15/05/2005,NaN,NaN
676553.0,RCBP CAMPINAS-UNICAMP,MASCULINO,30/01/1953,52.0,BRANCO,BRASIL,SÃO PAULO,NaN,SEM INFORMAÇÃO,CASADO,...,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,24/02/2005,24/02/2005,24/02/2005,NaN,NaN
679345.0,RCBP CAMPINAS-UNICAMP,MASCULINO,09/10/1930,74.0,BRANCO,BRASIL,Não informado,NaN,SEM INFORMAÇÃO,CASADO,...,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,01/10/2005,01/10/2005,01/10/2005,NaN,NaN
682806.0,RCBP CAMPINAS-UNICAMP,MASCULINO,02/05/1946,59.0,BRANCO,BRASIL,SANTA CATARINA,NaN,SEM INFORMAÇÃO,VIÚVO,...,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,27/08/2005,27/08/2005,27/08/2005,NaN,NaN

In [6]:
# data_union1 = pd.merge(dataset_1,dataset_2, how = 'outer')

In [9]:
# data_union1.columns

Index(['Nome do RCBP', 'Sexo', 'Data de Nascimento', 'Idade', 'Raca/Cor',
       'Nacionalidade', 'Naturalidade Estado', 'Naturalidade',
       'Grau de Instrução', 'Estado Civil', 'Código Profissão',
       'Nome Profissão', 'Estado Endereço', 'Cidade Endereço',
       'Descrição da Topografia', 'Código da Topografia',
       'Descrição da Morfologia', 'Código da Morfologia',
       'Descrição da Doenca', 'Código da Doenca',
       'Descrição da Doenca Infantil', 'Código da Doenca Infantil',
       'Descrição da Doenca Adulto Jovem', 'Código da Doenca Adulto Jovem',
       'Indicador de Caso Raro', 'Meio de Diagnostico', 'Extensão',
       'Lateralidade', 'Estadiamento', 'TNM', 'Status Vital', 'Tipo do Obito',
       'Data do Óbito', 'Data de Último Contato', 'Data de Diagnostico',
       'Metástase à distância', 'Unnamed: 37'],
      dtype='object')

In [14]:
# data_union2 = data_union1[['Sexo', 'Idade', 'Raca/Cor', 'Estado Endereço', 'Data de Diagnostico']]

In [15]:
# data_union2.head()

        Sexo  Idade Raca/Cor Estado Endereço Data de Diagnostico
0  MASCULINO   30.0   BRANCO       SÃO PAULO          07/10/2005
1  MASCULINO   71.0   BRANCO       SÃO PAULO          21/10/2005
2  MASCULINO   71.0   BRANCO       SÃO PAULO          06/11/2005
3   FEMININO   57.0    PARDA       SÃO PAULO          15/05/2005
4  MASCULINO   52.0   BRANCO       SÃO PAULO          24/02/2005

In [16]:
# data_union3 = data_union2.rename(columns = {'Sexo':'sexo', 'Idade':'idade', 'Raca/Cor': 'raca_cor','Estado Endereço': 'estado', 'Data de Diagnostico': 'data'})
# data_union3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1305823 entries, 0 to 1305822
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   sexo      1305823 non-null  object
 1   idade     1242934 non-null  float64
 2   raca_cor  1305823 non-null  object
 3   estado    1263373 non-null  object
 4   data      1263728 non-null  object
dtypes: float64(1), object(4)
memory usage: 59.8+ MB

In [17]:
# data_union3.head()

        sexo  idade raca_cor     estado        data
0  MASCULINO   30.0   BRANCO  SÃO PAULO  07/10/2005
1  MASCULINO   71.0   BRANCO  SÃO PAULO  21/10/2005
2  MASCULINO   71.0   BRANCO  SÃO PAULO  06/11/2005
3   FEMININO   57.0    PARDA  SÃO PAULO  15/05/2005
4  MASCULINO   52.0   BRANCO  SÃO PAULO  24/02/2005

In [18]:
# data_union3.to_csv("data_cancer_2005_2019.csv")